<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Name</p>
        <p class="subtitle is-6">@username</p>
      </div>
    </div>

    <div class="content">
      Post Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris
    </div>
  </div>