<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Spot Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" 
        integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/sass/style.sass">
</head>

<body class="is-flex is-flex-direction-column">
    <header class="is-flex-desktop is-flex-wrap-wrap is-justify-content-space-between is-align-items-center p-3">
        <h1>
            <a class="title is-1 m-3" href="/">Game Spot Blog</a>
        </h1>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard" class='title m-3'>Dashboard</a> 
            <button id="logout" class="btn-no-style title m-3">Logout</button>
            {{else}}
            <a class="title m-3" href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main class="is-flex is-flex-grow-1 is-flex-wrap-wrap">
        {{{ body }}}
    </main>

    <footer class="is-flex is-justify-content-space-between is-align-items-center has-background-primary has-text-black">
        <p class="is-inline is-size-4 m-3">Made by Game Spot Blog.</p>
        <p class="is-inline is-size-5 m-3">© 2021 Game Spot Blog, Inc.</p>
    </footer>

    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>

<script src="/js/delete-post.js"></script>