<form class='updatepost-form box m-3 is-flex is-flex-grow-1 is-flex-direction-column post-background'>
    <p class='title'>Edit Post</p>
    <div class="field is-flex">

        <input class="input post-title mr-2" name='post-title' type="text" value= "{{post.title}}">
    </div>

    <div class="field is-flex-grow-1">
        <textarea class="textarea" name='post-text'>{{post.content}}</textarea>
    </div>

    <div class="field">
        <p class="control">
            <button type='submit' class="button is-success">
                Submit
            </button>
        </p>
    </div>
</form>

<script src="/js/editpost.js"></script>