<div class='is-flex is-flex-grow-1 is-justify-content-center is-align-self-center'>
    <div class='is-flex is-flex-direction-column is-justify-content-center box form-container post-background'>
        <form class='login-form box m-3'>
            <div class="field">
                <p class="control has-icons-left">
                    <input id='email-login' class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input id='password-login' class="input" type="text" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button type='submit' class="button is-success">
                        Login
                    </button>
                </p>
            </div>
        </form>

        <form class='signup-form box m-3'>
            <div class="field">
                <p class="control has-icons-left">
                    <input id='username-signup' class="input" type="text" placeholder="Username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input id='email-signup' class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input id='password-signup' class="input" type="text" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button type='submit' class="button is-success">
                        Signup
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>