<form class="login-form">
     <div class="mx-auto mt-3" style="width: 50%">
    <h3> Sign In:</h3> 
    <div class="mb-3">
        <label for="username-form" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-form">
    </div>