<form class="login-form">
     <div class="mx-auto mt-3" style="width: 50%">
    <h3> Sign In:</h3> 
    <div class="mb-3">
        <label for="username-form" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-form">
    </div>
    <div class="mb-3">
        <label for="password-form" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-form">
    </div>
    <button type="submit" class="btn btn-primary" id="login-btn">LogIn</button>
    </form>

    <h3 class="mt-3"> Or sign up below!</h3>

    <form class="signup-form">
    <div class="mb-3">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-signup">
    </div>
    <div class="mb-3">
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-signup">
    </div>
    <button type="submit" class="btn btn-primary" id="signup-btn">Sign Up</button>
    </div>
    </form>
    