* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid black;
    width: 90%;
    margin: auto;
}

html,body {
    min-height: 100vh;
}

.title:hover {
    filter: brightness(150%);
}

.category-container {
    margin: 10px !important;
    min-height: 288px;
    width: 20%;
}

.post-container {
    width: 90%;
    
}

.post-container > * {
    width: 100%;
}


.form-container {
    height: min-content;
}

.btn-no-style {
    border: none;
    background: transparent;
}

.btn-no-style:hover {
    cursor: pointer;
}

.textarea {
    height: 100%;
}

.post-collection {
    max-height: 77vh;
    width: 50%;
    overflow-y: auto;
}

.new-post-form {
    width: 50%;
    max-height: 77vh;
}

.post-background {
    background: palegreen;
}